.light {
	background-color: white;
	color: black;
}

.dark {
	background-color: black;
	color: white;
	height: 600px;
	width: 100%;
}

.colorful {
	background-color: #ccff99;
	color: #336600;
	height: 600px;
	width: 100%;
}

body{
	margin: 0;
}

.login{
	margin-top: 15%;
	margin-left: 35%;
}

h2{
	text-align:center;
	font-family: 'Rancho', cursive;
	font-size: 40px;
}

.user-name, .new-todo{
	width: 30%;
	font-size: 25px;
	font-family: 'Rancho', cursive; 
	resize: auto;
	color :#686868;
}

.add-user, .add{
	width: 10%;
	font-size: 25px;
	border-radius: 15%;
	font-family: 'Rancho', cursive;
	resize: auto;
}

.status{
	margin-left: 35%;
	font-size: 25px;
	font-family: 'Rancho', cursive;
	resize: auto;
}

.logout-button{
	float: right;
	margin-right: 8%;
	margin-top: -6%;
	font-size: 25px;
	border-radius: 15%;
	font-family: 'Rancho', cursive;
	resize: auto;
}

.theme{
  	float: right;
  	margin-right: 17%;
  	margin-top: -5.8%;
}

.themes{
  	font-size: 25px;
  	font-family: 'Rancho', cursive;
}

.to-send {
	margin-top: 10px;
	margin-left: 35%;
	resize: auto;
}

.filters {
  	margin-top: 20px;
  	margin-left: 13%;
}

.radio{
  	font-size: 20px;
  	font-family: 'Rancho', cursive;
}

.filter{
  	font-size: 20px;
  	font-family:'Gordana', cursive;
}

.refresh, .done, .update , .delete{
	font-size: 20px;
  	font-family: 'Rancho', cursive;
  	border-radius: 15%;
}

.newTask {
  	font-size: 20px;
  	font-family: 'Rancho', cursive;
}

.task-info{
  	width: 700px;
  	display:grid;
  	grid-template-columns: 1fr 3fr 0.8fr;
}

.todos{
  	list-style: none;
  	margin-left: 20%;
}




